.hidden {
    display: none !important;
}

#context-menu {
  position: fixed;
  z-index: 1000;
  background: var(--color-reading);
  width: 16rem;
  height: 2rem;
  border: 1px solid var(--color-divider);
  display: flex;
  flex-direction: column;

  a {
    color: var(--color-text);
    text-decoration: none;
    display: flex;
    height: 100%;
    padding: 0 0.75rem 0 0.5rem;
    justify-content: space-between;
    align-items: center;

    transition: 0.3s ease-in-out;

    &:hover {
      background: var(--color-list);
    }

    svg {
      width: 1.25rem;
    }
  }
}
